<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>

    <!-- VUE -->
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0"> Monte o seu Lanche</span>
        </div>
    </nav>
    <div class="container">

        <div id="app">

            <div class="row">
                <div class="col-md-6">            
                    <div class="row mt-2">
                        <div class="col">
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="maionese">
                            <img :src="mostarda">
                            <img :src="hamburger">
                            <img :src="pao[1]">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 1">
                                <!--Pão-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Tipo do Pão</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim" v-model="input_tipo_pao">
                                        <label class="form-check-label">Gergelim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano" v-model="input_tipo_pao">
                                        <label class="form-check-label">Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                <!--Saladas-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Saladas</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface" v-model="input_saladas">
                                        <label class="form-check-label">Alface</label>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                <!--Molhos-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Molhos</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline" >
                                        <input class="form-check-input" type="checkbox" value="ketchup" v-model="input_molhos">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Ketchup
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline" >
                                        <input class="form-check-input" type="checkbox" value="maionese" v-model="input_molhos">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Maionese
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline" >
                                        <input class="form-check-input" type="checkbox" value="mostarda" v-model="input_molhos">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Mostarda
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                <!--Hamburger-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Tipo de hamburger</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="bovino" v-model="input_hamburger">
                                        <label class="form-check-label">
                                          Bovino
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="frango" v-model="input_hamburger">
                                        <label class="form-check-label">
                                          Frango
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="soja" v-model="input_hamburger">
                                        <label class="form-check-label">
                                          Soja
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      

                <div class="row mt-2">
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" @click="fazerPedido()">Fazer Pedido</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" v-if="etapa == 2">
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Informe seus dados</div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">Nome</label>
                                    <input type="text"  class="form-control" v-model="input_nome">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Endereço</label>
                                    <input type="text"  class="form-control" v-model="input_endereco">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-between">
                        <button type="button" class="btn btn-warning" @click="etapa -= 1">Voltar para o lanche</button>
                        <button type="button" class="btn btn-success" @click="confirmarPedido()">Confirmar</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" v-if="etapa == 3">
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Pedido Confirmado</div>
                            <div class="card-body">
                                <p>Agora é só aguardar em torno de 30 a 40 minutos até seu lanche chegar a você</p>
                                <p>Obrigado pela preferencia</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" @click="etapa = 1">Repetir Pedido</button>
                        <button type="button" class="btn btn-success" @click="novoPedido()">Novo Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
   

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                input_tipo_pao: '',
                input_saladas: [],
                input_molhos: [],
                input_hamburger: '',
                etapa: 1,
                input_nome: '',
                input_endereco: '',
                novo_pedido_assincrono: null

            },
            computed: {
                pao() {
                    switch(this.input_tipo_pao){
                        case 'gergelim':
                            return ['/imagens/pao_gergelim_superior.png','/imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return ['/imagens/pao_australiano_superior.png','/imagens/pao_australiano_inferior.png']
                        default: 
                            return ['/imagens/padrao/pao_superior.png','/imagens/padrao/pao_inferior.png']
                    }
                },
                alface(){
                    if(this.input_saladas.includes('alface')){
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },
                    
                ketchup (){
                    if(this.input_molhos.includes('ketchup')){
                        return '/imagens/ketchup.png'
                    }
                    return '/imagens/padrao/molho.png'    
                },
                maionese (){
                    if(this.input_molhos.includes('maionese')){
                        return '/imagens/maionese.png'
                    }
                    return '/imagens/padrao/molho.png'    
                },
                mostarda (){
                    if(this.input_molhos.includes('mostarda')){
                        return '/imagens/mostarda.png'
                    }
                    return '/imagens/padrao/molho.png'    
                },
                hamburger (){
                    switch(this.input_hamburger){
                        case 'bovino':
                            return ['/imagens/bovino.png']
                        case 'frango':
                            return ['/imagens/frango.png']
                        case 'soja':
                            return ['/imagens/soja.png']
                        default: 
                            return ['/imagens/padrao/hamburguer.png']
                    }
                    return '/imagens/padrao/hamburguer.png'
                }
            },
            methods: {
                fazerPedido(){
                        if(this.input_tipo_pao && this.input_hamburger){
                            this.etapa = 2
                        }else{
                            alert('Voce precisa selecionar no mínimo um pão e um hambúrger')
                        }
                },

                confirmarPedido(){
                    if(this.input_nome && this.input_endereco){
                        this.etapa = 3

                        this.novo_pedido_assincrono = (() => this.novoPedido(),7000)
                    } else {
                        alert('Voce precisa informar o seu nome e endereço')
                    }
            },
            novoPedido(){
                this.etapa = 1
                this.input_tipo_pao = '',
                this.input_saladas = [],
                this.input_molhos = [],
                this.input_hamburger = '',
                this.input_nome = '',
                this.input_endereco = ''
            },
            watch: {
                etapa(novoValor){
                    if(novoValor == 1){
                        clearTimeout(this.novo_pedido_assincrono)
                    }
                }
            }
        }
    })
    </script>
</body>
</html>